@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #7a78ff;
  --accent-color: #ff6d38;
  --heading-color: #333;
  --light-color: #f9f9f9;
  --dark-color: #333;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #8584ff;
  --btn-accent-bg: #ffc412;
  --btn-primary-hover-bg: #e74c3c;
  --btn-secondary-hover-bg: #333;

  --font-family-heading: 'Amatic SC', sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

  --section-margin: 2rem 0;
  --container-width: 90%;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 6px;
}

.title span {
  color: var(--secondary-color);

}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;

}

li {
  list-style: none;
  padding: 0 10px;
}

ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.don {
  display: flex;
  background-color: var(--btn-secondary-bg);
  border-radius: 30px;
  padding: 15px;
  justify-content: center;
  align-items: center;

}

.don:hover {
  background-color: var(--btn-secondary-hover-bg);
}

.don a {
  color: var(--light-color);
  text-decoration: none;
}

.don:hover a {
  color: var(--light-color);
}

.flex a {
  color: var(--heading-color);
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}


.main,
main {
  width: 100%;
  background-color: var(--light-color);
}

.background-img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

header {
  position: relative;
  height: 390px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  box-shadow: var(--shadow-xl);
  align-items: end;
  border-radius: 8px;
}
.volunteer-form h2 {
  font-family: var(--font-family-heading);
  font-size: 2.5rem;
}

.presentation {
  position: absolute;
  top: 130px;
  width: 45%;
  text-align: center;
  color: var(--light-color);
}

h1 {
  font-family: var(--font-family-heading);
  margin-bottom: 30px;
  font-size: 2rem;
}

.intro,
.how,
.make-difference {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 0;
  width: 100%;
}

.intro p,
.how>p,
.make-difference>p {
  color: var(--heading-color);
  width: 45%;
}

.how {
  background-color: white;
}

.visite {
  background-color: var(--btn-primary-bg);
  padding: 15px;
  border-radius: 30px;
}

.visite:hover {
  background-color: var(--btn-primary-hover-bg);
}

.visite a {
  color: var(--light-color);
  text-decoration: none;
}

.cards {
  display: flex;
  margin: 20px;
}

.card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--light-color);
  box-shadow: var(--shadow-md);
}

.card h2 {
  margin: 20px 0;
}

.links {
  display: flex;
  margin: 30px 0;
  align-items: center;
}

.links .don {
  margin: 0 20px
}

.volunteer {
  background-color: var(--btn-accent-bg);
  padding: 15px;
  border-radius: 30px;
}

.volunteer a {
  text-decoration: none;
  color: var(--light-color);
}

.footer {
  background-color: var(--dark-color);
  padding: 40px 20px 20px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-bottom: 1px solid #444;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-column {
  max-width: 350px;
}

.footer-title {
  color: var(--secondary-color);
  font-size: 1.1em;
  margin-bottom: 15px;
}

.footer-text {
  font-size: 0.9em;
  color: var(--light-color);
  line-height: 1.6;
  margin-bottom: 15px;

}

.footer-icons {
  display: flex;
}

.footer-icons svg {
  margin-right: 15px;
  font-size: 1.2em;
  transition: color 0.2s;
  padding: 2px;
  background-color: #484848;
  border-radius: 50%;
  color: var(--light-color);
}

.footer a {
  color: var(--light-color);
  text-decoration: none;

}

.footer-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--light-color);

}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list a {
  text-decoration: none;
  color: #ccc;
  font-size: 0.9em;
}



.footer-bottom {
  text-align: center;
  font-size: 0.75em;
  color: #888;
  margin-top: 20px;
}


.users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-gap: 30px;
  padding: 20px;
  justify-content: center;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: var(--shadow-md);

}

.user-card p,
.user-card h3 {
  padding: 10px 20px;
}

.user-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

h3 {
  color: var(--accent-color);
}

.moment {
  color: var(--light-color);
  background-color: #333;
  padding: 15px;
  width: fit-content;
  border-radius: 30px;
  margin: 10px auto;
}

.image-holder {
  height: 200px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem 0
}

.pagination button {
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: #eee;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #333;
  color: white;
  font-weight: bold;
}

.labeled {
  display: flex;
  flex-direction: column;
}

.testimony {
text-align: center;}