* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fafafa;
    --secondary-color: #7a78ff;
    --accent-color: #ff6d38;
    --heading-color: #333;
    --light-color: #f9f9f9;
    --dark-color: #333;
  
    --btn-primary-bg: #333;
    --btn-secondary-bg: #8584ff;
    --btn-accent-bg: #ffc412;
    --btn-primary-hover-bg: #e74c3c;
    --btn-secondary-hover-bg: #333;
  
    --font-family-heading: 'Amatic SC', sans-serif;
    --border-radius: 8px;
  
    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);
  
    --section-margin: 2rem 0;
    --container-width: 90%;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 6px;
}
.title span{
    color: var(--secondary-color);

} 
.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    
}

li {
    list-style: none;
    padding: 0 10px ;
}
ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.don {
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 15%;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.don a {
    color: var(--light-color);
    
}

a {
    color: var(--heading-color);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height:50px;
    padding: 10px;
    box-shadow: var(--shadow-md);
    align-items: end;
    border-radius: 10px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}